
.container {
  font-family: 'Prompt', sans-serif;
  background-color: var(--container);
  padding: 2rem 3rem;
  margin-top: 3rem;
  display: flex;
  width: 100%;
  column-gap: 2rem;
  border-radius: 20px;
  box-shadow: var(--shadow);
  min-height: 25em;
}


.img {
  width: 10rem;
  border-radius: 50%;
  align-self: start;
}

.userBox {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.userBox .userName {
  display: flex;
  justify-content: space-between;
}

.usertit h3 {
  margin-top: 0.8rem;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 0.95rem;
}

.userBox .userName .joinDate {
  align-self: start;
}

.userPage {
  color: var(--link);
}

.accountInfo {
  display: flex;
  column-gap: 5rem;
  background-color: var(--info-back);
  color: var(--info-txt);
  padding: 1.5rem 3rem;
  border-radius: 20px;
}

.accountInfo .box {
  width: 5rem;
}
.accountInfo .tit {
  font-size: 600;
  letter-spacing: -0.2px;
}

.num {
  font-size: 2rem;
  font-weight: 800;
}

.userBox .userEtc { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.userEtc .detailBox {
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
}

.userEtc .detailBox .icon {
  font-size: 1.1rem;
}

.userEtc .detailBox .tit {
  font-size: 0.9rem;
  font-weight: 800;
}

.userEtc .detailBox .infoTxt {
  font-size: 0.7rem;
  letter-spacing: -0.2px;
  color: var(--txt);
}

.notFound {
  font-weight: 800;
  width: 100%;
  text-align: center;
  margin: auto 0;
  color: var(--txt);
}