
.container {
  font-family: 'Prompt', sans-serif;
  background-color: rgb(242, 244, 250);
  padding: 2rem 1.2rem;
  margin-top: 3rem;
  display: flex;
  width: 100%;
  column-gap: 2rem;
  border-radius: 20px;
  box-shadow: 5px 10px 15px rgba(63, 71, 100, 0.1);
}


.img {
  width: 10rem;
  border-radius: 50%;
  align-self: start;
}

.userPage {
  color: rgb(0, 136, 255);
}

.accountInfo {
  display: flex;
  column-gap: 5rem;
  background-color: rgba(45, 55, 78, 0.473);
  color: white;
  padding: 2rem 1.5rem;
  border-radius: 20px;
}

.line {
  border-bottom: 1px solid rgb(199, 200, 209);
}

.num {
  font-size: 2rem;
}