
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40rem;
  border: 1px solid black;
  padding: 1rem 0;
}

.nav .logo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.3rem;
}
/* .nav svg { 
  fill: white;
} dark mode 일때 fill white로 바뀌게끔, root에 정의할 것*/ 

.nav .btn {
  font-size: 1.6rem;
}