
.box {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--search-back);
  border-radius: 30px;
  padding: 1rem;
  column-gap: 1rem;
  box-shadow: var(--search-shadow);
}

.searchBar {
  width: 90%;
  background-color: inherit;
  color: var(--txt);
}

.icon {
  font-size: 1.8rem;
  color: var(--search-icon);
}